:root {
	--color-green: #3D9550;
	--color-green-hover: #43aa59;
	--color-light-green: #F0F9F2;
	--color-black: #000000;
	--color-white: #ffffff;	
}
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 26px;
	font-family: 'Open Sans', sans-serif;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{
	text-decoration: none;
	color: black;
}
a:hover {
	text-decoration: none;
	color: #3D9550;
}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6 {
	font-size:50px;
	font-weight: 400;
}
.page {
	display: flex;
	flex-direction: column;
	height: 100vh;
}
.logo {
    padding: 28px 97px;
}
.container {
	width: 1280px;
	margin: 0 auto;
}
.df-sb {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.df-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.df-ai-start {
	display: flex;
	justify-content: space-between;
}
.df-jc-start {
	display: flex;
	justify-content: start;
	align-items: center;
}
/*open-close-btn*/

.open-close-btn {
	width: 30px;
	height: 30px;
	background-color: transparent;
	border: 1px solid var(--color-black);
	border-radius: 50%;
}

/*form*/
.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 610px;
	height: 420px;
	margin-bottom: 70px;
	z-index: 1;
	background-color: var(--color-white);
	box-shadow: 1px 2px 6px 1px rgb(0 0 0 / 10%);
}
.form:first-child {
	margin-top: 30px;
}
.form:last-child {
	margin-bottom: 30px;
}
.btn {
	width: 268px;
	height: 60px;
	font-size: 16px;
	background-color: var(--color-green);
}
.btn:hover {
	background-color: var(--color-green-hover);
}
.input-field {
	appearance: none;
	border: 2px solid var(--color-green);
	background-color: transparent;
	color: var(--color-black);
	line-height: 28px;
	padding: 15px 20px;
	width: 536px;
	margin-bottom: 15px;
	transition: background-color 0.25s ease;
}
.input-field:focus {
	background-color: var(--color-light-green);
	outline: none;
}
.input-field::placeholder {
	font-size: 16px;
	color: var(--color-black);
}
.checkbox__input {
	position: absolute;
	width: 1px;
	height: 1px;
	padding-left: 20px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	white-space: nowrap;
	border: 0;
} 
.contact-form__footer {
	width: 536px;
}
.checkbox__input:checked + .checkbox__text::before{
	background: var(--color-white) url('images/icons/check.svg') no-repeat center center;
}
.checkbox__input:focus-visible + .checkbox__text::before{
	outline: 1px solid var(--color-green);
}
.checkbox__text {
	padding-left: 27px;
	display: block;
	position: relative;
	width: 235px;
	font-size: 16px;
}
.checkbox__text::before {
	content: '';
	border: 1px solid var(--color-green);
	width: 20px;
	height: 20px;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -10px;
	cursor: pointer;
}

/*===============================================header====================================================*/

.page-header {
    position: fixed;
	flex: 0 0 auto;
	width: 100%;
    z-index: 10;
    background-color: #F4F4F4;
    box-shadow: 6px 6px 16px 3px rgba(209, 205, 199, 0.5), -6px -6px 16px 0 rgba(255, 255, 255, 0.5);
}
.page-header__menu {
    
}
.mainmenu {
}
.mainmenu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mainmenu__item a {
    font-size: 20px;
    font-weight: 400;
}
.mainmenu__item_current-page a {
    color: #3D9550;
}

/*=============================================main========================================================*/

.page-main {
	flex: 1 0 auto;
}

/*=============================================footer======================================================*/

.page-footer {
	flex: 0 0 auto;
	z-index: 9;
	background-color: #F4F4F4;
}
.page-footer__flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.page-footer__information-list {
}
.page-footer-information-item {
}
.page-footer__information-copyright {
	font-size: 14px;
	margin-right: 20px;
}
.page-footer__feedback {
}
.page-footer__phone-email {
}
.page-footer__link {
	margin-right: 10px;
}
.page-footer__link:last-child {
	margin-right: 0;
}
.page-footer__social-network {
	margin-left: 140px;
}