/* section-company */

.section-company {
	margin-top: 80px;
	margin-bottom: 198px;
}

.section-company__poster {
    margin-top: 100px;
	position: relative;
	z-index: 0;
}

.section-company__poster::before {
	content: '';
	position: absolute;
	top: 20%;
    width: 35%;
    height: 80%;
    background: linear-gradient(80deg, rgba(255,255,255, 0.3) 0%, rgba(242,245,247,0.03) 70%);
}

.section-company__poster img {
	display: block;
}

.section-company__wrap {
	display: flex;
	flex-direction: row-reverse;
	position: relative;
}

.section-company__mission {
	width: 640px;
	padding: 25px 25px 25px 40px;
	position: absolute;
	top: 300px;
	z-index: 3;
	border: 1px solid var(--color-green);
	left: 0;
}

.section-company__mission p {
	font-size: 20px;
	line-height: 27px
}

.section-company__mission span {
	font-size: 30px;
	line-height: 40px;
	color: var(--color-green);
}

/* section-about */

.section-about {
	background-color: var(--color-light-green);
	position: relative;
}

.section-about__wrap {
	position: relative;
}

.section-about__text {
	width: 810px;
	font-size: 20px;
	padding-top: 85px;
	padding-bottom: 85px;
} 

.section-about__title {
	font-size: 20px;
	line-height: 27px;
    font-weight: 600;
	padding-top: 85px;
	padding-bottom: 28px;
}

.section-about__content p {
	padding-bottom: 20px;
	padding-right: 210px;
	line-height: 27px;
	font-size: 20px;
	}

.section-about__content p:last-child {
	padding-bottom: 93px;
}

.big {
position: absolute;
left: -190px;
top: 15px;
}

.small-up {
	position: absolute;
	right: 0;
	top: 240px;
}

.small-down {
	position: absolute;
	right: 110px;
	top: 330px;
}


/* section-pluses */

.section-pluses__title {
	margin-top: 63px;
	margin-bottom: 63px;
	text-align: center;
	font-size: 20px;
	font-weight: 600;
}

.section-pluses__grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	row-gap: 40px;
	column-gap: 170px;
	margin-bottom: 90px;
}

.section-pluses__content {
	background-color: var(--color-green);
	color: var(--color-white);
	border-radius: 4px;
}

.section-pluses__content-title {
	display: flex;
	align-items: center;
	padding-left: 15px;
	padding-top: 8px;
}


.section-pluses__content-title p {
	font-size: 20px;
	font-weight: 600;
	line-height: 27px;
	margin-left: 10px;
}

.section-pluses__content-title img {
	display: block;
}

.section-pluses__content-text {
	font-size: 17px;
	line-height: 23px;
	padding: 28px 10px 35px 15px;
}


/* section-company-faq */

.section-company-faq__content {
	line-height: 21px;
	position: relative;
	width: 50%;
	
}

.section-company-faq__content img {
	position: absolute;
	bottom: -100px;
	right: -45px;
}

.section-company-faq {
	background-color: var(--color-light-green);
}

.section-company-faq__wrap {
	display: flex;
	justify-content: space-between;
	padding-top: 140px;
	padding-bottom: 100px;
	
}


.section-company-faq__title {
	font-size: 36px;
	font-weight: 600;
	line-height: 49px;
	margin-bottom: 40px;
}

.section-company-faq__form {
	padding-left: 32px;
	padding-right: 32px;
 
}

.section-company-faq__text {
	padding-right: 270px;
	font-size: 24px;
	font-weight: 600;
	line-height: 27px;
}

section-company-faq__text--small {
	font-size: 16px;
	
}

.section-company-faq__info {
	font-size: 24px;
	font-weight: 600;
	line-height: 27px;
	margin-bottom: 40px;
	
}

.section-company-faq__info:last-child {
	padding-right: 80px;
	font-size: 16px;
	margin-bottom: 0;

}

/*adaptive*/
/* media 2500px */
@media (max-width: 2500px) {
	.section-company__wrap {
		justify-content: center;
	}
	.section-company__mission {
		left: 8%;
	}
}
/* media 1400px */
@media (max-width: 1400px) {
	.big {
		left: -170px;
	}
}

/* media 1160px */

@media (max-width: 1160px) {
	/* section-company */
	.section-company__poster img {
		width: 700px;
	}
	.section-company__poster {
		margin-top: 30px;
	}
	.section-company__mission {
		top: 30%;
	}
	.section-company__poster::before {
		top: 10%;
		width: 55%;
	}
	/* section-about */
	.big {
		left: -190px;
	}
	/* section-pluses */
	.section-pluses__grid {
		column-gap: 70px;
	}
	/* section-company-faq */
	.section-company-faq__text {
		padding-right: 50px;
	}
	.section-company-faq__info:last-child {
		padding-right: 30px;
	}
	.section-company-faq__content img {
		height: 40px;
		width: 40px;
	}
}

/* media 992 */
@media (max-width: 992px) {
	/* section-company */
			
	.section-company__poster img {
		width: 100%;
		
	}
	.section-company__poster {
		margin-top: 0;
	}
		
	.section-company__mission {
		border: none;
		left: 0;
		top: 0;
		width: 630px;
	}

	.section-company__poster::before {
		top: 0%;
		width: 80%;
		height: 37%;
		background: linear-gradient(rgba(242,245,247, 0.03) 0%, rgba(255,255,255,0.2) 80%);
	}
	.section-company {
		margin-bottom: 30px;
	}
	/* section-about */
	.section-about__content p {
		padding-right: 80px;
	}
	.big {
		width: 125px;
		height: 125px;
		left: -150px;
	}
	.small-up {
		width: 50px;
		height: 50px;
		right: -40px;
	}
	.small-down {
		width: 50px;
		height: 50px;
		right: 0px;
	}
	/* section-pluses */
	.section-pluses__grid {
		column-gap: 15px;
		row-gap: 15px;
	}
	/* section-company-faq */
	.section-company-faq__content img {
		display: none;
	}
	.section-company-faq__title {
		font-size: 30px;
	}
	.section-company-faq__content p{
		font-size: 20px;
	}
	.section-company-faq__info {
		font-size: 15px;
		padding-right: 20px;
	}
	.section-company-faq__info:last-child {
		font-size: 13px;
	}
}

/* media 832 */
@media (max-width: 832px) {
	.big {
		display: none;
	}
	.small-up {
		display: none;
	}
	.small-down {
		display: none;
	}
	.section-about__content p {
		padding-right: 0;
	}
	.section-company-faq__text {
		font-size: 16px;
	}

	.section-company-faq__wrap {
		padding-top: 50px;
		flex-direction: column;
	}
	.section-company-faq__content {
		width: 100%;
	}
	.section-company-faq__form {
		width: 100%;
	}
	
	.section-company-faq__title {
		font-size: 24px;
	}
	.section-company-faq__form {
		margin-top: 30px;
	}
}

/* media 767 */
@media (max-width: 767px) {
	
	/* section-company */
	.section-company {
		margin-top: 40px;
		margin-bottom: 0;
	}
	/* section-about__content */
	.section-about__content {
		padding-right: 20px;
		padding-left: 20px;
	}
	/* section-pluses*/
	.section-pluses__grid {
		padding-right: 20px;
		padding-left: 20px;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
	}
	/* section-company-faq */
	
	.section-company-faq__wrap {
		flex-direction: column;
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.small-el {
		display: none;
	}

	.section-company-faq__content {
		padding-left: 20px;
		padding-right: 20px;
		width: 100%;
		
	}
	.section-company-faq__title {
		margin-bottom: 20px;
	}
	.section-company-faq__info {
		margin-bottom: 10px;
	}
	.section-company-faq__info:last-child {
		margin-bottom: 20px;
	}
	.section-company-faq__form {
		width: 95%;
		margin-right: auto;
		margin-left: auto;
		
	}
	.section-company-faq__form-wrap {
		width: 100%;
		
	}
	.section-company-faq__form-wrap input {
		width: 100%;
	}
	.section-company-faq__form-footer {
		display: block;
		width: 100%;
	}
	.section-company-faq__form-footer button {
		width: 100%;
	}
	.section-company-faq__form-footer label {
		margin-top: 20px;
	}
}
/* media 735 */
@media (max-width: 735px) {
	.section-company__poster::before {
		background: none;
	}
}

/* media 600 */
@media (max-width: 600px) {
	.section-company__mission {
		width: 75%;
	}
	.section-company__poster::before {
		background: var(--color-white);
		opacity: 0.4;
		width: 100%;
		height: 100%;
	}
	.section-about__title {
		padding-top: 30px;
	}
	.section-about__content p:last-child{
		padding-bottom: 30px;
	}

	.section-company-faq__text {
		padding-right: 0;
	}
	.section-pluses__title {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.section-pluses__grid {
		margin-bottom: 30px;
	}
	.section-company-faq__wrap {
		padding-top: 30px;
	}
}

/* media 520 */
@media (max-width: 520px) {
	.section-pluses__grid {
		display: block;
	}
	.section-pluses__content {
		width: 75%;
		margin: auto;
		margin-bottom: 20px;
	}
}

/* media 470 */
@media (max-width: 470px) {
	.section-company__mission {
		width: 97%;
	}
	.section-company__poster::before {
		opacity: 0.6;
	}
}

/* media 420 */
@media (max-width: 420px) {
	.section-company__mission p {
		font-size: 14px;
	}
	.section-about__content p {
		font-size: 16px;
	}
	.section-company__mission span {
		font-size: 20px;
	}
}
/* media 370 */
@media (max-width: 370px) {
	.section-company__mission {
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 0;
	}
	.section-pluses__content {
		width: auto;
	}
	.section-about__content p:last-child {
		padding-bottom: 30px;
	}
}