
.vacancies-main {
    padding-top: 80px;
}

.vacancies-main__poster {
    overflow: hidden;
}

.vacancies-main__poster img {
    display: block;
    margin: 0 auto;
    max-width: 1920px;
}

/* vacancies */

.vacancies {
    background: var(--color-light-green);
}

.vacancies-wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
    padding-bottom: 150px;
}

.found-link {
    display: block;
    cursor: pointer;
    border: 2px solid var(--color-green);
    margin-bottom: 20px;
    padding: 20px 20px 20px 27px;
    font-size: 22px;
}

.found-link__title {
    margin-bottom: 30px;
}



/*  */

.found-list__item-link {
    display: block;
    cursor: pointer;
    border: 2px solid var(--color-green);
    padding: 20px 20px 20px 27px;
    font-size: 22px;
}

.found-list__item-link-title {
    margin-bottom: 30px;
}

.found-list__item {
    margin-bottom: 20px;
}

.found-list__item:last-child {
    margin-bottom: 0;
}